<div class="container">
  <h1>
    All Events
  </h1>
  <hr>
  <form>
    <div class="form-group row">
      <div class="col-sm-3">
        Date Sort :
        <button type="button" class="btn btn-outline-success" [class.active]="tableService.sortDirection == 'asc'" (click)="tableService.sortDirection = 'asc'">Earliest</button>
        <button type="button" class="btn btn-outline-warning" [class.active]="tableService.sortDirection == 'desc'"(click)="tableService.sortDirection = 'desc'">Latest</button>
      </div>
      <label for="searchBox" class="col-sm-2 col-form-label">Party ID search:</label>
        <div class="col-sm-5">
            <input name="searchTerm" [(ngModel)]="tableService.searchTerm"  class="form-control" id="searchBox"
            placeholder="Search ..... ">
        </div>
      <span class="sm-3" *ngIf="tableService.loading$ | async">Loading...</span>
    </div>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th sortable="date">Date</th>
      <th>Party ID</th>
      <th>Host Name</th>
      <th>Venue</th>
      <th>Karaoke Song Book</th>
      <th>Wedding Message Board</th>
      <th>Buttons</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of Parties$ | async"
        [ngClass]="{'draft':isDraft(entry.status), 'inactive':needToRenew(entry)}">      
      <td>{{ entry.date }}</td>
      <td><ngb-highlight [result]="entry.partyID" [term]="tableService.searchTerm"></ngb-highlight></td>
      <td>{{ entry.hostName }}</td>
      <td>{{ entry.venue }}</td>
      <td>{{ entry.songBook }}</td>
      <td>{{ entry.messageScreens }}</td>
      <td>
        <button class="bth btn-secondary" (click)="editPartyDetails(entry)">Edit</button>
      </td>
    </tr>
  </tbody>
</table>
<div class="narrow d-flex justify-content-between p-2"> <!-- Pagination -->
  <ngb-pagination
    [collectionSize]="(total$ | async)!" [(page)]="tableService.page" [pageSize]="tableService.pageSize">
  </ngb-pagination>
  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="tableService.pageSize">
    <option [ngValue]="5">5 items per page</option>
    <option [ngValue]="10">10 items per page</option>
    <option [ngValue]="15">15 items per page</option>
  </select>
</div>