.ksj{
    width:100%;
    text-align: center;
    color: red;
    font-family: Algerian;
    font-weight: bold;
    font-size: 7.5em;
}
.diamond{
    color: black;
    width:100%;
    text-align: center;
    font-family: Algerian;
    font-weight: bold;
    font-size: 3em;
}