.login {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    background-color: lightgray;
    padding: 2%;
}
.narrow {
    width: 90%;
    margin: 5%;
}
.folder {
    background-color: white;
    width: 50%;
    margin : 0;
    color:red;
    padding: 0.4em 2em;
    border: 0px;
    border-bottom: 2px solid black;
    font-size: 2em;
}
.folder.active {
    background-color: lightslategray;
    border: 2px solid black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 0;
}