<div class="container">
    <ksj-logo></ksj-logo>
    <div class="login">
        <button type="button" class="folder" [ngClass]="{'active': service}" (click)='service=true'>SIgn In</button>
        <button type="button" class="folder" [ngClass]="{'active': !service}" (click)='service=false'>Sign Up</button>
        <div class='narrow' [ngSwitch]="service">
            <login-form *ngSwitchCase='true'></login-form>
            <registration-form *ngSwitchDefault></registration-form>
        </div>
    </div>
</div>