<nav class="navbar navbar-expand-md navbar-dark bg-dark">    
    <a class="navbar-brand" routerLink="/">KSJ<br>Operator{{ envName }}</a>
    
    <button 
        class="navbar-toggler navbar-toggler-right"
        type="button" (click)="toggleCollapse()">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div [ngbCollapse]="showMainNav" class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" >
                <button *ngIf='_AUTH.adminRights([2,3,4])' class="btn btn-outline-primary my-2 my-sm-0" routerLink="/operator/introduction" routerLinkActive="active">Introduction</button>
            </li>
        </ul>
        <!-- Admin Menus -->
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item" >
                <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/admin">Site Admin</button>
            </li>
            <li class="nav-item" >
                <button class="btn btn-outline-danger my-2 my-sm-0" routerLink="/ksj">Back</button>
            </li>            
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>