.mainform {
    margin-top: 25px;
    border: 2px black solid;
    padding: 15px;
}
.mainform h4 {
    background-color: slategray;
    padding: 10px;
    color :red;
    text-align: center;
}
.yesNo{
    color:red;
    font-size: 1.25rem;
    padding-left: 10%;
}